<!DOCTYPE html>
<hr />
<nz-layout>
  <nz-content>
    <div nz-row style="color: rgba(0,0,0,0.27);font-family: Source Sans Pro,Calibri,fantasy">
      <div nz-col nzSpan="8" class="footer">
        © 2022 firoze
      </div>
      <div nz-col nzSpan="8" align="center" class="footer">
        Made by Md. Firoze Hossain
      </div>
      <div nz-col nzSpan="8" align="right" style="color: rgba(0,0,255,0.45)" class="footer">
        <a href="https://firoze.vercel.app/">
          about
        </a>
      </div>
    </div>
  </nz-content>
</nz-layout>
