<!DOCTYPE html>
<app-top-bar></app-top-bar>

<body>
  <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">

    <div class="section" id="section0">
      <div class="fp-bg"></div>
      <h1>Write your Resume Beautifully</h1>
    </div>

    <div class="section" id="section1" (click)="fullpage_api.moveSectionDown()">
      <div class="fp-bg"></div>
      <h1>Share with others securely</h1>
    </div>

    <div class="section" id="section3">
      <div class="slide">
        <div class="fp-bg"></div>
        <main style="font-size: 35px"><b style="font-family: Garamond,sans-serif">Website introduction</b><hr>
          <label style="font-size: 30px;font-family: Garamond,sans-serif">In this website, you can upload your resume, and check out others' resumes. </label></main>
      </div>
      <div class="slide">
        <div class="fp-bg"></div>
        <main style="font-size: 35px"><b style="font-family: Garamond,sans-serif">Product background</b><hr>
          <label style="font-size: 30px;font-family: Garamond,sans-serif">This is a software project of Md. Firoze Hossain.</label></main>
      </div>
      <div class="slide">
        <div class="fp-bg"></div>
        <main  style="font-size: 35px"><b style="font-family: Garamond,sans-serif">Team members</b><hr>
          <label style="font-size: 20px;font-family: Garamond,sans-serif">
            <div>
              <p align="left"><b>Md. Firoze Hossain:</b>&nbsp;
              firoze.hossain01@yahoo.com &nbsp; +88 01765002428</p>
            </div>
          </label></main>
      </div>
    </div>

    <div class="section" id="section2">
      <div class="fp-bg"></div>
      <h1>Join Now</h1>
      <div class="wrapper">
        <a [routerLink]="['/login']" class="button">Sign in / Sign up</a>
      </div>
    </div>
  </div>
</body>
